/* Basic styling */
body {
    display: flex;
    align-items: center;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 5vw;
    margin: 0%;
}

.save-graph-button {
    background-color: #4CAF50;
    position: fixed;
    top: 5px;
    left: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 125px;
}

.save-page-button {
    background-color: #4CAF50;
    position: fixed;
    top: 50px;
    left: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 125px;
}

/* Flower and sliders container */
.flower-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


/* Larger flower container to ensure no clipping */
.flower-container-wrapper {
    width: 50vw;
    /* Larger container */

    /* Larger container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* SVG Flower */
svg {
    width: 60vw;
    background: transparent;
    /* Increase maximum size */
    transition: transform 0.3s ease;
}


/* Individual petal class colors */
/* PQ */
.petal1 {
    fill: rgba(255, 99, 132, 1);
    transform-origin: center;
}

/* QR */
.petal2 {
    fill: rgba(54, 162, 235, 1);
    transform-origin: center;
}

/* ER */
.petal3 {
    fill: rgba(242, 242, 42, 1);
    transform-origin: center;
}

/* Comm */
.petal4 {
    fill: rgba(75, 192, 192, 1);
    transform-origin: center;
}

/* SR */
.petal5 {
    fill: rgba(153, 102, 255, 1);
    transform-origin: center;
}

/* KHTL */
.petal6 {
    fill: rgba(255, 159, 64, 1);
    transform-origin: center;
}


/* Sliders container */
.sliders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


/* Sliders styling */
.slider-label {
    margin-bottom: 5px;
    font-size: 14px;
}

.slider {
    width: 200px;
    accent-color: #ffffff;
}

/* Input boxes container */
.input-container {
    display: flex;
    flex-wrap: wrap;
    /* Ensure inputs wrap to a new row */
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}

.input-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#input-box-wrapper1 {
    align-items: baseline;
    background-color: rgba(255, 99, 132, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper2 {
    align-items: baseline;
    background-color: rgba(54, 162, 235, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper3 {
    align-items: baseline;
    background-color: rgba(242, 242, 42, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper4 {
    align-items: baseline;
    background-color: rgba(75, 192, 192, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper5 {
    align-items: baseline;
    background-color: rgba(153, 102, 255, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper6 {
    align-items: baseline;
    background-color: rgba(255, 159, 64, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

/* Input boxes styling */
.input-box {
    width: 20vw;
    padding: 15px;

    border-radius: 10px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    min-height: 100px;
    resize: vertical;
    word-break: keep-all;
    line-break: normal;
    /* Allow vertical resizing */
}

/* Border color based on petal */
#input-box1 {
    border-color: rgba(255, 99, 132, 1);
}

/* Social Reasoning (Purple) */
#input-box2 {
    border-color: rgba(54, 162, 235, 1);
}

/* Knowing How to Learn (Orange) */
#input-box3 {
    border-color: rgba(242, 242, 42, 1);
}

/* Personal Qualities (Pink) */
#input-box4 {
    border-color: rgba(75, 192, 192, 1);
}

/* Quantitative Reasoning (Blue) */
#input-box5 {
    border-color: rgba(153, 102, 255, 1);
}

/* Communication (Green) */
#input-box6 {
    border-color: rgba(255, 159, 64, 1);
}

/* Empirical Reasoning (Yellow) */

/* Styling the input boxes when they are focused */
.input-box:focus {
    outline: none;
    border-color: #555;
}

/* Titles for each input */
.input-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}


.plug {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    display: inline-flex;
}

p {
    color: #adadad;
}

.plug-logo {
    width: 25px;
    height: 25px;
}


@media screen and (max-width: 1000px) {
    .flower-container {
        display: inline-block;
    }

    .input-box {
        width: 50vw;
    }
}