/* Basic styling */
body {
    display: flex;
    align-items: center;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 5vw;
    margin: 0%;
}


/* Flower and sliders container */
.flower-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


/* Larger flower container to ensure no clipping */
.flower-container-wrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* SVG Flower */
svg {
    width: 60vw;
    background: transparent;
    transition: transform 0.3s ease;
}


/* Individual petal class colors */
/* PQ */
.petal1 {
    fill: rgba(255, 99, 132, 1);
    transform-origin: center;
}

/* QR */
.petal2 {
    fill: rgba(54, 162, 235, 1);
    transform-origin: center;
}

/* ER */
.petal3 {
    fill: rgba(242, 242, 42, 1);
    transform-origin: center;
}

/* Comm */
.petal4 {
    fill: rgba(75, 192, 192, 1);
    transform-origin: center;
}

/* SR */
.petal5 {
    fill: rgba(153, 102, 255, 1);
    transform-origin: center;
}

/* KHTL */
.petal6 {
    fill: rgba(255, 159, 64, 1);
    transform-origin: center;
}


/* Sliders container */
.sliders {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}


/* Sliders styling */
.slider-label {
    margin-bottom: 5px;
    font-size: 14px;
}

.slider {
    width: 200px;
    accent-color: #ffffff;
}

/* Input boxes container */
.input-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}

.input-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}

#input-box-wrapper1 {
    align-items: center;
    background-color: rgba(255, 99, 132, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper2 {
    align-items: center;
    background-color: rgba(54, 162, 235, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper3 {
    align-items: center;
    background-color: rgba(242, 242, 42, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper4 {
    align-items: center;
    background-color: rgba(75, 192, 192, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper5 {
    align-items: center;
    background-color: rgba(153, 102, 255, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

#input-box-wrapper6 {
    align-items: center;
    background-color: rgba(255, 159, 64, 1);
    border-radius: 18px;
    padding: 8px;
    color: #ffffff;
}

/* Input boxes styling */
.input-box {
    width: 100%;
    border-radius: 10px;
    padding: auto;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    min-height: 100px;
    resize: vertical;
    word-break: keep-all;
    line-break: normal;
}


#input-box1 {
    border-color: rgba(255, 99, 132, 1);
}


#input-box2 {
    border-color: rgba(54, 162, 235, 1);
}


#input-box3 {
    border-color: rgba(242, 242, 42, 1);
}


#input-box4 {
    border-color: rgba(75, 192, 192, 1);
}


#input-box5 {
    border-color: rgba(153, 102, 255, 1);
}


#input-box6 {
    border-color: rgba(255, 159, 64, 1);
}



/* Styling the input boxes when they are focused */
.input-box:focus {
    outline: none;
    border-color: #555;
}

/* Titles for each input */
.input-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .input-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .input-container {
        grid-template-columns: repeat(3, 1fr);
    }
}